<% if @is_logged_in == true %>
    LOGGED IN <a href="/logout">logout</a><br>
<% else %>
    <a href="/login">login</a>
<% end %>
<% if @is_nopass_mode == true %>
    <strong>NO PASS MODE</strong><br>
<% end %>

<h1>Installers</h1>
<%= @builder.platform_package_script_dir() %>
<ui>
    <% @builder.installers.each do |name| %>
        <li><a href="packaging_and_install/<%= name %>"><%= name %></a></li>
    <% end %>
</ui>

<h1>running</h1>
<ui>
<% @tasks.each_with_index do |status, index| %>
    <li>
        <%= status.is_active ? "(active)" : "(finished)" %>
        <%= status.is_updated ? "(updated)" : "(NOT updated)" %>
        <a href="status/<%= index %>"><%= status.name %></a></li>
<% end %>
</ui>

<h1>temporaries</h1>
<a href="/temp">tmps</a>

<h1>packages</h1>
<a href="/packages">packages</a>

<h1>install</h1>
<a href="/install">install</a>
