<a href="/">Top</a>

<% @hooks.each do |hook| %>
    <% if login? %>
        <div>
            <form action="/webhooks/update/<%= hook.id%>" method="post">
                <input type="text" name="target" value="<%= hook.target %>">
                <input type="text" name="secret" value="<%= hook.secret %>">
                <input type="text" name="script" value="<%= hook.script %>">
                <input type="submit" value="Update">
            </form>
            <form action="/webhooks/delete/<%= hook.id%>" method="post">
                <input type="submit" value="Delete">
            </form>
        </div>
    <% else %>
        <%= "please login" %>
    <% end %>
<% end %>

<% if login? %>
    <div>
        <form action="/webhooks/append" method="post">
            <input type="text" name="target">
            <input type="text" name="secret">
            <input type="text" name="script">
            <input type="submit" value="Append">
        </form>
    </div>
<% end %>
